.GameCard {
  background-color: #d2def4;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #7e9ea6;
  width: 90%;
}

.GameCard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(12px + 2vmin);
  width: 100%;
  justify-content: space-between;
}

.GameCard-body {

}

.GameCard-footer {

}