.Button {
    padding: 10px 50px;
    margin: 10px;
    border-radius: 20px;
    border-color: #7fffd4;
}

.ButtonSelected {
    padding: 10px 50px;
    margin: 10px;
    border-radius: 20px;
    border-color: #7fffd4;
    background-color: #7fffd4;
}

.PlayerButton {
    max-width: 200px;
    max-height: 50px;
    text-overflow: ellipsis;
}

.ActionButton {
    padding: 10px 50px;
    margin: 10px;
    border-radius: 20px;
    border-color: #7fffd4;
    width: 75%;
}

.CurrentPlayerButton {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border-color: #7fffd4;
    width: 135px;

}