.ScoreKeyboardCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ScoreKeyboardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.ScoreKeyboardElement {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 25px; */
    width: 50px;
    height: 50px;
    border: 2px solid #219dad;
}