.ScoreKeyboardCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    padding: 10px;
}

.ScoreKeyboardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.ScoreKeyboardElement {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 55px;
    height: 25px;
    border: 2px solid #219dad;
    font-size: calc(8px + 2vmin);
}