.Form {
  background-color: #d2def4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #7e9ea6;
}

.line {
  border-bottom: 1px solid #888;
  width: -webkit-fill-available;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: rgb(209, 23, 23);
  width: 100%;
}